.jumbotron
  h1 Welcome to Pinteresting
  /! <small>Find me in app/views/pages/home.html.erb, I'm set now as a new root on routes.rb</small
  /! embedded ruby (link)
  p
    | Click here to #{link_to "Sign Up", "#", class:"btn btn-primary btn-lg"}


  